/* header section start here */
.global-color{
    color: #FD6E0A;
}
.header{
    background-color: #FFF8F3;
   
}
body{
    
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}
ul {
    display: flex;
    align-items: center;
}
nav{
    display:flex ;
    justify-content: space-between;
    margin: 0 200px;
    
  
}
.btn-primary{
    width: 120px;
height: 55px;
font-size: 20px;
border-radius: 5px;
background: #FD6E0A;
font-weight: 400;
border: none;
color: white;
}
.nav-title{
 color: #181818;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
  
 ul, li{
    list-style: none;
    margin-right: 50px; 
    text-align: right;
 }

 nav a{
    text-decoration: none;
    color: #474747;
 }
 /* nav section end here */

 .banner-section{
    display: flex;
    padding: 30px 30px 30px 150px ;
    justify-content: space-between;
    align-items: center;
 }
 .banner-child{
    
 }

 .img-b{
    width: 500px;
    
 }
